{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} - AI Quiz Management{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50 dark:bg-gray-900">

  <nav class="flex justify-between items-center px-6 py-4 bg-white dark:bg-gray-800 shadow">
    <div class="text-xl font-bold text-gray-900 dark:text-white">
      <a href="{% url 'home' %}">AI Quiz</a>
    </div>
    <div>
      {% if user.is_authenticated %}
      <span class="text-white dark:text-gray-300 mr-4">{{ user.email }}</span>
      <a href="{% url 'profile' %}">
        <img src="{{ user.avatar.url }}" alt="User Avatar" class="inline-block h-8 w-8 rounded-full mr-4">
      </a>
      <a href="{% url 'logout' %}" class="text-white hover:underline">Logout</a>
      {% else %}
      <a href="{% url 'login' %}" class="text-white hover:underline mr-4">Login</a>
      <a href="{% url 'signup' %}" class="text-white hover:underline">Sign Up</a>
      {% endif %}
    </div>
  </nav>

  <main class="p-6">
    {% block content %}
    {% endblock %}
  </main>

</body>

</html>